

<style media="screen">
  .card-body {
    padding: 20px;
  }

  .card {
    max-width: 700px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="card m-auto bg-dark">
      <a href="#">
        <img src="" class="card-img-top" alt="" />
      </a>
      <div class="card-body mt-2 mb-2">
        <a href="{% url 'post_detail' pk=post.pk %}">
          <h2 class="card-title">{{post.title}}</h2>
        </a>
        <p class="card-text">{{post.description|safe|truncatechars:180}}</p>
        {% if post.url %}
            <a href="{% url '{{post.url}}'%}">{{post.url}}</a>
        {% endif %}
      </div>
      <div class="card-footer text-muted ">
        Posted by {{post.submit_user}} on {{post.date_created}}
        {% include 'snippets/community_posted.html' with post=post%}
      </div>

      {% comment %} Vote {% endcomment %}
      <div class="feedback-icons">

       
        <!-- Comments -->
        {% if post.no_comment > 0 %}
        {{post.no_comment}}
        <a href="{% url 'post_detail' pk=post.pk %}">
          <svg
            width="1.5em"
            style="margin-left: 10px"
            height="1.5em"
            class="icons"
            viewBox="0 0 16 16"
            class="bi bi-chat-left-text-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"
            />
          </svg>
          </a>

        {% endif %}


       
         
      </div>
    </div>
  </div>
</div>
<br />
